#canvas {
border: 1px solid black;
}
#meta{
    position: absolute;
    left: 710px;
    top: 8px;
    width: 100px;
    height: 40px;
}
#volver{
    position: absolute;
    left: 699px;
    top: 814px;
    height: 30px;
}
#iniciar{
    position: absolute;
    left: auto;
    top: 814px;
    height: 30px;
}